*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    background-color: black;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.container{
    background-color: rgba(50, 50, 50, 0.559);
    padding: 5px;
    border-radius: 5px;
}
.container>h1{
    text-align: center;
    color: white;
    /* border-radius:10px; */

    /* background-color: rgba(0, 0, 255, 0.77); */
}
.hidden{
    display: none;
}

    #expense-form{
        background-color: aqua;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
        justify-content: center ;
        align-items: center;

    }

    #total{
        color: white;
    }

    #total-amount,#dollar{
        background-color: rgb(16, 16, 16);
    }
ul>li{
    /* background-color: aqua; */
        display: flex;
        justify-content: space-between;
        padding: 2px 5px;
        background-color: rgba(0, 0, 0, 0.303);
        margin: 5px;
        border-radius: 5px;
}
    #expense-form>*{
        margin: 5px;
        padding: 5px;
        border-radius: 5px;
        
        width: 50%;
        
    }
