*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    /* text-align: center; */
    justify-content: center;
    align-items: center;
    /* background-color: blue; */
}

.container{
    background-color: aqua;
    padding: 5px;
    border-radius: 5px;
}

.hidden{
    display: none;
}